@import '../../../../styles/const.scss';

.container {
  width: 100%;
  
  .wrapper {

    .title {
      color: $White;
      font-size: 18px;
    }
    .content {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 20px;

      @media screen and (max-width: 375px) {
        padding-left: 10px;
      }

      .tagsWrapper {     
        display: flex;
        
        .tagsText {
          background-color: $White;
          border-radius: 5px;
          padding: 10px;

          @media screen and (max-width: 375px) {
            padding: 5px;
            font-size: 14px;
          }
        }
      }
    }
  }
}