@import '../../../../styles/const.scss';

.container {
  width: 100%;

  .content {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 860px) {
      flex-direction: column;
    }

    .textWrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media screen and (max-width: 500px) {
        gap: 10px;
      }

      .title {
        font-size: 30px;
        font-weight: 500;

        @media screen and (max-width: 500px) {
          font-size: 20px;
        }
      }

      .text {
        color: $White;
        font-size: 20px;

        @media screen and (max-width: 500px) {
          font-size: 16px;
        }
      }
    }
  }

  .ReversContent {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 860px) {
      flex-direction: column-reverse;
    }

    .img {
      @media screen and (max-width: 500px) {
        width: 375px;
        height: 200;
      }
    }

    .textWrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media screen and (max-width: 500px) {
        gap: 10px;
      }

      .title {
        font-size: 30px;
        font-weight: 500;

        @media screen and (max-width: 500px) {
          font-size: 20px;
        }
      }

      .text {
        color: $White;
        font-size: 20px;

        @media screen and (max-width: 500px) {
          font-size: 16px;
        }
      }
    }
  }
}