@import '../../../styles/const.scss';

.container {
  background-image: url('../../../assets/images/AdvantagesBK.svg');
  background-repeat: no-repeat;
  width: 100%;

  @media screen and (max-width: 750px) {
    margin-top: 50px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    @media screen and (max-width: 610px) {
      padding: 10px 10px 20px 10px;
    }

    .title {
      color: $White;

      @media screen and (max-width: 610px) {
        font-size: 30px;
      }
    }

    .tagsWrapper {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      width: 100%;
      gap: 200px;

      @media screen and (max-width: 1112px) {
        gap: 100px;
      }

      @media screen and (max-width: 885px) {
        gap: 30px;
      }

      @media screen and (max-width: 750px) {
        gap: 10px;
        // flex-direction: column;
      }

      @media screen and (max-width: 610px) {
        flex-direction: column;
        gap: 20px;
      }

      .leftBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        @media screen and (max-width: 610px) {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          gap: 20px;
        }
      }

      .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 140px;
        padding-top: 100px;

        @media screen and (max-width: 610px) {
          flex-direction: column;
          align-items: flex-start;
          padding-top: 0;
          width: 100%;
        }

        .img {
          display: block;
          
          @media screen and (max-width: 640px) {
            display: none;
          }
        }
      }

      .rightBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        @media screen and (max-width: 610px) {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          gap: 20px;
        }
      }
    }
  }
}