@import '../../../styles/const.scss';

.container {
  background-image: url('../../../assets/images/AdvantagesBK.svg');
  width: 100%;
  height: 621px;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

    .title {
      color: $White;
    }

    .tagsWrapper {
      display: flex;
      padding-top: 30px;
      gap: 200px;

      .leftBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
      }

      .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 140px;
        padding-top: 100px;
      }

      .rightBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
      }
    }
  }
}